# Eclipse
.classpath
.project
.settings/*

# Netbeans
build/*
manifest.mf
nbproject/*
dist/*
nbbuild.xml

# IDEA
.idea/*
*.iml
out/*

# VIM
*.swp
.syntastic_javac_config

# Code Coverage
coverage/*
codecover/*

# Database
derbyDB
database
derby.log

settings.cfg
aidger.log
data.xml
history
bin/*
*~

